.App{
    text-align: left;
}

a:visited{
    color: black;
}

table, th, tr, td {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}

.col {
    float: right;
    width: 28.3%;
    text-align: left;
} 

#main {
    float: left;
}